/build
*.iml
*.bin
*.lock
/.idea
/.gradle
/local.properties
.DS_Store
#三、已提交的文件执行以下代码对.gitigore下文件重新忽略

# git rm -r --cached .//删除追踪状态 或者  git rm -r --cached file_path
# git add .  //采用上面第二种方法则忽略此步骤
# git commit -m "fixed untracked files"
# git pull
# git push
